body{
    background-color: black;
}
.parent{
    width: 90%;
    height: 230px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    font-family: sans-serif;
    /* margin-bottom: 10px; */
}

.child{
    width: 23%;
    height: 90%;
    /* border: 1px solid red; */
    margin: auto;
    background-color: black;
}

.child img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.child h6{
    width: 96%;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 5px;
    line-height: 1.5;
    color: white;
    cursor: pointer;
}

.partition{
    display: flex;
}

.child p{
    font-size: 9px;
    margin-top: 1px;
    color: rgb(219, 219, 219);
    margin-left: 5px;
    cursor: pointer;
}

#three-dot{
    width: 15px;
    height: 15px;
    margin-top: 4px;
    cursor: pointer;
}